:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'TASA Explorer', sans-serif;
    background-color: var(--background-color);
}

a { /* This a tag here changes the appearance of the links*/
    color: var(--link-color);
    text-decoration: none;

}


/* NAVBAR */
/* We can use flexboxes to split our navbar to left and right sections
To ensure that all the headers are under that height, we need to align items to center 
*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 400px;
    height: 100px;
}
nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}
nav .right a {
    color: var(--text-color);
    margin: 0 10px;
    font-size: 22px;
    font-weight: 600;
}

/* SECTION 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0px 400px;
    margin: 50px 0;
    align-items: center;

}

.hero-section-2 .text h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 100px;

}

.hero-section-2 .text .links {
    font-size: 20px;
    color:mediumblue;
    text-align: center;
    padding-right: 400px;
    padding-top: 50px;
}
.hero-section-3 .text h2 {
    font-size: 40px;
    margin-top: 70px;
    text-align: center;
}
.hero-section-3 .text h3 {
    font-size: 20px;
    color:mediumblue;
    text-align: right;
    padding-right: 450px;
    padding-top: 30px;
}